@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
*{  margin:0;
    padding:0;
    font-family: "Be vietnam Pro" , sans-serif;
    scroll-behavior: smooth;
}
:root{
    --bgOrange: #e84949;
}

body{
    background-color:black;
    overflow-x: hidden;
}
#wrapper{
    height:100vh;
    overflow-y:auto;
    overflow-x:hidden;
    
}
.container{
    width: 1200px;
    margin: 0 auto;
    
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;

    padding-top:1rem;

}
.logo-container{
    display:flex;
    justify-content:baseline;
    align-items:center;

}
.logo{
    width:50px;
}
.logo-text{
    margin-left:0rem;
    font-size:28px;
    color:white;
}
.nav-items{
    display:flex;
    gap:2rem;
    padding:0 4rem;
    
}
.nav-items div{
    font-size:20px;
    font-weight:500;
    cursor:pointer;
}
a{
    text-decoration:none;
}
.nav-items div a {
    color:white;
}
.nav-items div:hover{
    transition:0.8s ease;
    font-weight:bold;
}


.hero-section{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;

    gap:5rem;
    margin:4rem auto;
    padding:0 1rem;
    padding-bottom:8rem;
}
.faded-text{
    user-select: none;
    font-size: 5em;
    color: grey;
    position:absolute;
    bottom:-16%;
    left:0%;
    font-weight:bold;
    transition:all 3s;
}
.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
}
.hero-section-heading{
    font-size:35px;
    color:#343d68;
    font-weight:500;
}
.role{
    color:#4e45d5;
    font-weight: 800;
}
.hero-section-sub-heading{
    font-size: 45px;
    line-height: 45px;
}
.hero-section-description{
    margin-top: 1rem;
    width:70%;
    font-weight: 500;
    color:white;
}
.btn-pink{
    background-color:lightcoral;
    width:fit-content;
    color:white;
    padding:0.8rem 2.3rem;
    font-size:18px;
    box-shadow:5px 5px 7px 0px #0000003f;
    position:relative;
    z-index:1;
}
.btn-pink::before {
    content:"";
    background-color: black;
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    transform:scaleX(0);
    transform-origin:left;
    transition: all 0.8s;
    z-index:-1;
}
.btn-pink:hover::before{
    transform:scaleX(1);
} 
.hero-section-right{
    position: relative;
}
.absolute{
    position: absolute;
}
.user-image{
    padding:2.5rem;
    filter: grayscale(1);
    transition:all 1s;
    animation: scaleImage 5s linear infinite;
}
.user-image img{
    z-index:-9;
}
@keyframes scaleImage {
    0%{
        filter:grayscale(0);
        transform:scale(1);
    }
    50%{
        filter:grayscale(1);
        transform:scale(1.1);
    }
    100%{
        box-shadow:3px 3px 10px black;
        filter:grayscale(0);
        transform:scale(1);
    }
}
.icon-dots{
    z-index:9;
    bottom:-1rem;
    right:0;
    animation-name:dotsAnimation;
    animation-duration: 5s;
    animation-iteration-count:infinite;
}
@keyframes dotsAnimation{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}
.icon-cube{
    z-index: 9;
    top:-0.8em;
    right:1em;
    animation-name: cube-rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes cube-rotate{
    0%{
        transform: rotateY(0deg) translateY(0px);
    }
    50%{
        transform: rotateY(180deg) translateY(-15px);
    }
    100%{
        transform: rotateY(0deg) translateY(0px);
    }
}
.icon-circle{
    z-index: 9;
    left:0;
    bottom:0;
    animation-name: shakeEffect;
    animation-duration: 6s;
    animation-timing-function:linear ;
    animation-iteration-count: infinite;
}
@keyframes shakeEffect{
    0%{
        left:0;
        bottom:0;
    }
    50%{
        left:4%;
        bottom:8%
    }
    100%{
        left:0;
        bottom:0;
    }
}
.icon-zig-zack{
    z-index:9;
    left:-0.3em;
    top:1.5em;
    animation-name:zigzagEffect;
    animation-duration:5s;
    animation-timing-function:ease-in;
    animation-iteration-count:infinite;
}
@keyframes zigzagEffect{
    50%{
        left:5%;
        top:2%;
    }
}
.icon-plus{
    z-index:9;
    top:-0.8em;
    left:50%;
    animation-name:shakeEffectPlus;
    animation-duration:5s;
    animation-timing-function:ease-in;
    animation-iteration-count:infinite;
}
@keyframes shakeEffectPlus{
    50%{
        top:3%;
        left:48%;
    }
}

.project-section{
    background-color: black;
    margin-top:4rem;
}
.page-header{
    color:var(--bgOrange);
    font-size:90px;
    text-align: center;
    padding-top: 30px;
}
.project-container{
    max-width:1200px;
    margin:0 auto;
    padding:3rem 0;


    display:flex;
    flex-direction:column;
    gap:120px;
}
.project-card{
    width:90%;
    height:550px;
    /* background-image: url(Project1.png); */
    background-image: url(./Images/WeatherApp.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    position:relative;
    box-shadow:0px 0px 40px #1f1f1f;
}
.project-card::after{
    content:"";
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color: #1f1f1f9a;
    /* transform:scaleX(1);  */
    z-index:0;
}
.project-card::before{
    content:"";
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background: linear-gradient(45deg, #343d68, #343d68be , #343d687c);
    transform: scaleX(0);
    transform-origin:left;
    transition:all 0.4s;
    z-index:1;
}
.project-card:hover::before{
    transform: scaleX(1);
}
.project-number{
    position:absolute;
    color:rgb(255,255,255);
    font-size:200px;
    font-weight: 600;
    z-index:10;
    display:none;
    transition:all 0.4s;
}
.project-card:hover .project-number{
    display:block;
}
.project-number-right{
    left:-40px;
    top:-45px
}
.project-number-left{
    right:-40px;
    top:-45px
}
.project-content{
    position:absolute;
    display:flex;
    flex-direction: column;
    color:white;
    padding:2em;
    bottom:20%;
    z-index:5;
    gap:1em;
    transition:all 0.5s;
}
.project-content-left{
    left:10%;
}
.project-content-right{
    right:10%;
}
.project-skills-container{
    width:60%;
    display:flex;
    gap:10px;
    flex-wrap:wrap;

}
.project-skill{
    width:40px;
}
.project-heading{
    font-size:50px;
    font-weight:bold;
    line-height:3rem;
}
.project-subHeading{
    width:70%;
    font-size:16px;
    font-style:italic;

}
.btn-grp{
    display:flex;
    gap:0.9rem;
}
.btn-project:hover{
    border:none;
}
.icon{
    cursor:pointer;
    color:white;
    font-size:35px;
    transition:all 0.4s;
}
.icon:hover{
    color:var(--bgOrange);
}
.project-card:hover .project-content{
    transform:scale(1.1);
}
#project1{
    background-image: url(./Images/WeatherApp.png);

}
#project2{
    background-image: url(./Images/Tic-Tac-Toe.png);
    margin-left:120px;
}
#project3{
    background-image: url(./Images/Gif-generator.png);
}
#project4{
    background-image: url(./Images/Plan-With-Love.png);
    margin-left:120px;
}
#project5{
    background-image: url(./Images/My-Blogs.png);
    
}
#project6{
    background-image: url(./Images/Testimonials.png);
    margin-left:120px;
}
#project7{
    background-image: url(./Images/Parallex-Website.png);
    
}
#project8{
    background-image: url(./Images/Top-Courses.png);
    margin-left:120px;
}
#project9{
    background-image: url(./Images/Shooping-Cart.png);
    
}
#project10{
    background-image: url(./Images/Modern-Chair.png);
    margin-left:120px;
}
#project11{
    background-image: url(./Images/Form.png);
    
}
#project12{
    background-image: url(./Images/Razorpay.png);
    margin-left:120px;
}
@media (max-width:1300px){
    .page-header{
        padding-top:30px;
        color:var(--bgOrange);
        text-align:center;
        font-size:40px;
    }
    .project-container{
        padding:5px;
        margin:10px;
        gap:60px;
    }
    .project-card{
        width:100%;
        height:300px;
    }
    .project-card{
        background-size:cover;
        background-position: center;
    }
    .project-content{
        scale:0.5;
        bottom:0;
        left:0;
        right:0;
        top:0;
    }
    .project-content-left{
        left:0;
    }
    .project-heading{
        font-size: 40px;
        width:100%;
    }
    .project-subHeading{
        width:100%;
    }
    #project2{
        margin-left:0;
    }
    #project4{
        margin-left:0;
    }
    #project6{
        margin-left:0;
    }
    #project8{
        margin-left:0;
    }
    #project10{
        margin-left:0;
    }
    #project12{
        margin-left:0;
    }
    .project-skill-container{
        width:100%;
    }
    .project-skill{
        width:35px;
    }
    .project-card:hover .project-number{
        display:none;
    }
    .project-card:hover .project-content{
        scale:0.55;
    }
}




.skills-container{
    display:flex;
    position:relative;
    padding:5rem;
    margin:10rem auto;
    gap:30px;
}
.skill-container-left{
    width:50%;
    display:flex;
    flex-direction:column;
}
.skill-container-right{
    display:flex;
    width:50%;
    flex-wrap:wrap;
    position:relative;
    gap:2rem;
    justify-content: center;
}
.skill-fade-text{
    user-select: none;
    font-size:12em;
    font-style:bold;
    color:rgb(231,231,231);
    bottom:-25%;
    right:-5%;
    position:absolute;
    overflow-y: hidden;
}
.blob-style{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    animation: blobAnimate 3s linear infinite;
    z-index:-5;
}
@keyframes blobAnimate{
    50%{
        top:54%;
        left:56%;
    }
}
.skills-logo{
    width:90px;
    transition:all 0.5s;

}
.skills-logo:hover{
    transform:scale(1.2);
}
.skill-heading{
    color:var(--bgOrange);
    font-size:50px;
    font-style:bold;
    line-height:50px;
}
.caps{
    font-size:90px;
}
.skill-subHeading{
    margin-top:1rem;
    width:85%;
    text-align:justify;  
    font-size: larger;
    color:white;
    
}
.skill-subHeading p{
    margin:15px 0;
}
.contactus-form-container{
    width:100%;
    background-color: #1f1f1f;
    
}
.contactus-heading{
    font-size:5em;
    color:var(--bgOrange);
    padding-top:2rem;
}
.contactus-sub-heading{
    font-size:3rem;
    color:#343d68aa;
    text-transform: capitalize;
}
.contactus-form-container{
    margin-top:25px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.form{
    display:flex;
    flex-direction: column;
    gap:30px;
    width:70%;
    margin:2rem 5rem;
}
.formfield-container{
    width:100%;
}
.formfield{
    width:100%;
    height:42px;
    padding:0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    font-weight: 500;
    border: none;
    margin-top:27px;
    background-color: #343d68;
}

.formfield-textarea{
    height:auto;
    padding-top:1rem;
}
.submit-btn{
    border:none;
    font-size:1.4rem;
    margin:1rem 0;
}
.submit-btn:hover{
    scale:0.9;
}
.submit-icon{
    padding:0 1rem;
    font-size:1.5rem;
}
footer{
    position: relative;
    margin-top:-1px;
    background-color:#343d68;
    padding:5rem;
}
.footer-wrapper{
    display:flex;
    gap:1rem;
    padding:1.2rem;
    justify-content:space-between;
    align-items:center;
}
.footer-faded-text{
    position: absolute;
    left:0;
    bottom:0;
    color:#535c87;
    user-select:none;
    font-size:3em;
}
.link-wrapper{
    display: flex;
    gap:1.2rem;
    
}
.link-wrapper div a{
    color:white;
    text-decoration:none;
    transition:all 0.6s;
}
.link-wrapper div a:hover{
    color:var(--bgOrange);
}
.icon-wrapper{
    display:flex;
    gap:1rem;
}
.emailfooter{
    color: white;
    font-size:larger;
}